.banner {
  position: relative;
  grid-row: 1 / 36;
  grid-column: 1 / 30;
  border-radius: 0.3rem;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    background: rebeccapurple;
    opacity: 0.5;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 2000;
  }

  &--fig {
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    border-radius: 0.3rem;
  }

  &--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &--details {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5000;
    font-size: 2rem;
    color: #fff;
    width: 100%;
    opacity: 0.9;
    padding: 1.5rem;
  }

  &--details-section {
    margin: 1rem 0;
    text-align: center;
    & > div {
      display: inline-block;
      background: rebeccapurple;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      margin: 0.5rem;
    }
  }

  &--details-genres {
    display: inline-block;
    margin-right: 1rem;
  }

  &--details-name {
    text-align: center;
  }

  &--details-btn {
    background: black;
    border-radius: 3rem;
    padding: 1.4rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 1rem auto;
    width: 16rem;
  }
}
