.searchbar {
  margin: 0 auto;
  width: 100%;
  padding: 1.5rem;
  background: transparent;
  transform: translateY(20rem);
  z-index: 9900;
  position: relative;

  &--checkbox {
    position: absolute;
    top: 0;
    display: none;
    z-index: -1;
  }

  &--checkbox:checked ~ &--input {
    width: 70%;
    transform: translateX(-5rem);

  }

  &--input {
    margin: 0 auto;
    display: block;
    font-size: 2.5rem;
    font-family: inherit;
    font-weight: 700;
    color: #000000;
    height: 6rem;
    width: 60%;
    outline: none;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    background-color: rgba(#fff, 1);
    border: 2px solid #000000;

    @media only screen and (max-width: 37.438em) {
      width: 80vw
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #000000;
      opacity: 0.5;
      font-weight: 700;
    }
  }
}
