.trackcard {
  position: relative;
  border-radius: 0.3rem;
  overflow: hidden;
  border-radius: 0.3rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);

  &--fig {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    border-radius: 0.3rem;
  }

  &--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &--details {
    position: absolute;
    z-index: 4000;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 1rem 2.5rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &--text {
    background: rebeccapurple;
    width: fit-content;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    margin: 1rem 0;
  }

  &--artists {
    display: flex;
    margin: 2.5rem 0;
  }

  &--artist-parent {
    margin-right: 1rem;
  }

  &--artist {
    width: fit-content;
    padding: 1.2rem 2.5rem;
    border-radius: 2rem;
    color: #fff;
    background: black;
  }

  &--btn {
    padding: 0.9rem;
    position: relative;
    width: fit-content;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);

    &::before {
      position: absolute;
      content: "";
      bottom: 15%;
      left: 13%;
      width: 82%;
      height: 0.3rem;
      background: #fff;
      opacity: 0.8;
    }
  }

  &--playpause {
    position: absolute;
    top: 37%;
    left: 0;
    width: 100%;
    z-index: 5000;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  &--play {
    fill: #fff;
    opacity: 0.8;
    height: 10rem;
    width: 10rem;
    cursor: pointer;
  }
}
