@keyframes loadingSpinner {
  0% {
    transform: rotate(0deg) scale(0.8);
    opacity: 0.5;
  }

  50% {
    transform: rotate(360deg) scale(0.4);
  }

  100% {
    opacity: 1;
  }
}

@keyframes spinThree {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
