*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 60%;

  @media only screen and (max-width: 86.75em) {
    font-size: 54%;
  }

  @media only screen and (max-width: 78em) {
    font-size: 50%;
  }

  @media only screen and (max-width: 70.5em) {
    font-size: 45%;
  }

  @media only screen and (max-width: 64.5em) {
    font-size: 40%;
  }

  @media only screen and (min-width: 125.5em) {
    font-size: 75%;
  }
}

body {
  background-image: linear-gradient(
    to right bottom,
    rgb(23, 32, 42),
    rgba(33, 33, 33, 1)
  );
  background-size: cover;
  background-repeat: no-repeat;
  //overflow: hidden;
  min-height: 100vh;
  position: relative;
}

.link {
  color: #fff;
  font-weight: 700;

  &:focus {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
  }
}
