*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 60%;

  @media only screen and (max-width: 104em) {
    font-size: 53%;
  }

  @media only screen and (max-width: 92em) {
    font-size: 48%;
  }

  @media only screen and (max-width: 85em) {
    font-size: 40%;
  }

  @media only screen and (max-width: 71em) {
    font-size: 35%;
  }

  @media only screen and (max-width: 37.438em) {
    font-size: 45%;
  }

  @media only screen and (max-width: 28.875em) {
    font-size: 49%
  }

  @media only screen and (max-width: 20.75em) {
    font-size: 37%
  }
}

body {
  background-image: linear-gradient(to right bottom, #070707, #070707);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background: red;
  
  @media only screen and (max-width: 28.875em) {
    width: 85vw;
    transform: translateY(5rem);
    &::before {
      position: absolute;
      left: 0;
      bottom: -2%;
      height: 4%;
      width: 100vw;
      background: #000000;
      content: '';
    }
  }
}

.link {
  color: #fff;
  font-weight: 700;

  &:focus {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
  }
}
