.app {
  min-height: 100vh;
  overflow-x: hidden;
  &--name {
    color: #fff;
    position: fixed;
    top: 12%;
    left: 40%;
    font-size: 4.5rem;
    cursor: pointer;
    opacity: 0.8;
    transition: all ease-in 0.4s;
    & > * {
      display: inline;
    }
  }

  &__name--svg {
    height: 6rem;
    width: 6rem;
    margin-left: 1rem;
    transform: translateY(1rem);
  }
}
