.app {
  min-height: 100vh;
  overflow-x: hidden;
  &--name {
    color: #fff;
    position: fixed;
    top: 12rem;
    left: 40%;
    font-size: 4.5rem;
    cursor: pointer;
    opacity: 0.8;
    transition: all ease-in 0.4s;
    z-index: 3000;

    @media only screen and (max-width: 37.5em) {
      left: 35%;
    }

    @media only screen and (max-width: 29.5em) {
      left: 30%;
    }

    & > * {
      display: inline;
    }
  }

  &__name--svg {
    height: 6rem;
    width: 6rem;
    margin-left: 1rem;
    transform: translateY(1rem);
  }
}
