.app {
  &--name {
    color: #fff;
    position: fixed;
    top: 12rem;
    left: 40%;
    font-size: 4.5rem;
    cursor: pointer;
    opacity: 0.8;
    z-index: 3000;

    & > * {
      display: inline;
    }
  }

  &__name--svg {
    height: 6rem;
    width: 6rem;
    margin-left: 1rem;
    transform: translateY(1rem);
  }
}
